<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<iframe src="https://open.spotify.com/" width="900" height="600" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<!--<iframe src="https://web.whatsapp.com/" width="500" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>-->
<iframe src="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" width="500" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<!--<iframe src="https://drive.google.com/drive/" width="500" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>-->
<!--<iframe src="https://www.google.co.in/" width="500" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>-->
</body>
</html>